@use "./variables";
@use "./components/sidebar";
@use "./routes/dashboard";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button,
input,
textarea,
select {
	font: inherit;
	line-height: 1;
	touch-action: manipulation;
}

img,
picture,
svg,
canvas {
	display: block;
	max-inline-size: 100%;
	block-size: auto;
}

body {
	text-rendering: optimizeSpeed;
	font-family: "Inter", sans-serif;
	background-color: hsl(0 0% 98%);
	font-size: 1rem;
	line-height: 1.5;
	color: hsl(260 11% 11%);
}

#root {
	min-block-size: 100dvh;
	display: grid;
	grid-template-columns: auto 1fr;
}

a {
	color: inherit;
	text-underline-offset: 4px;
}

h3 {
	font-weight: 500;
	color: hsla(260, 11%, 11%, 1);
}

:where(div[class$="search"]:has(input[type="search"])) {
	padding: 0.5rem 1rem;
	display: flex;
	gap: 0.5rem;
	background-color: hsl(0, 0%, 95%);
	align-items: center;
	border-radius: 0.375rem;

	&:focus-within {
		background-color: hsl(0, 0%, 93%);
	}

	input {
		border: none;
		inline-size: min(25rem, 100%);
		background-color: transparent;
		font: inherit;
		outline: none;

		&::placeholder {
			color: hsl(0 0% 50%);
		}
	}
}

@media (prefers-reduced-motion: no-preference) {
	:focus-visible {
		transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
	}
	:where(:not(:active)):focus-visible {
		transition-duration: 0.25s;
	}
}
:where(:not(:active)):focus-visible {
	outline-offset: 5px;
	outline-color: hsl(206 80% 39%);
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
